.about-cont{
    font-family: 'Chewy', cursive;
    margin-top: 50px;
    text-align: center;
    align-items: center;
}


.about-content{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.about{
    max-width: 800px; 
    width: 100%;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 15px;
    background-color: rgb(240, 240, 240);
}

.contact{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.contact-info{
    margin-top: 20px;
    max-width: 400px;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 15px;
    background-color: rgb(240, 240, 240);
}